name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: Chibiaiko
          outputs: |
            dist/github-contribution-grid-snake.svg
          snake_color: "#5A189A"        # dark purple snake
          background_color: "#000000"   # black background
          color_dots: |
            #E6CFE6,  # lilac (light)
            #D8BFD8,  # thistle
            #C8A2C8,  # lilac
            #B57EDC   # purple
      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

