name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: Chibiaiko
          outputs: |
            dist/github-contribution-grid-snake.svg
          args: >
            --color-snake "#5A189A"
            --color-dots "#E6CFE6,#D8BFD8,#C8A2C8,#B57EDC"
            --background-color "#000000"

      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
